body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(
          115deg,
        rgb(1, 4, 44) 0%,
        rgba(100, 115, 255, 1) 40%
  );

}

.search-results {
    align-content: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0 0 80px;
}

.stock-image {
    padding: 0.3%;
    margin: 0.5%;
    width: 20%;
    height: 3%;
    box-shadow: 5px 5px 5px 5px black;
}